[submodule "submodules/ontology-management-base"]
	path = submodules/ontology-management-base
	url = https://github.com/ASCS-eV/ontology-management-base.git
[submodule "submodules/sd-creation-wizard"]
	path = submodules/sd-creation-wizard
	url = https://github.com/openMSL/sd-creation-wizard.git
