# Common dependencies

# Include requirements from subprojects
-r utils/requirements.txt
-r asset_extraction/requirements.txt
-r asset_reducer/requirements.txt
-r jsonLD_creator/requirements.txt
-r jsonLD_validator/requirements.txt
-r meta_data_extractor/requirements.txt
-r ontologie_creator/requirements.txt
-r qualitychecker_caller/requirements.txt
-r shacl_combiner/requirements.txt
-r structure_creator/requirements.txt
-r utils/requirements.txt
-r wizard-caller/requirements.txt
-r xodr_calc_box/requirements.txt
-r xodr_routing_creator/requirements.txt
-r xodr_to_geojson_caller/requirements.txt
-r xodr_trim_to_box/requirements.txt
